@import 'compass/css3';

body {
    padding-top: 70px;
}

.nav.nav-tabs {
    margin-bottom: 15px;
}

.form-group.last {
    margin-bottom: 0;
}

.input-group .form-control {
    z-index: 3;
}

.input-group-btn:not(:first-child):not(:last-child) .btn {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
}

@include keyframes(glyphicon-spin) {
    0% {
        @include rotate(0);
    }
    100% {
        @include rotate(359deg);
    }
}

.glyphicon-spin {
    @include animation(glyphicon-spin 2s infinite linear);
}

#general-filters {
    select {
        -webkit-appearance: none;

        &:hover {
            cursor: pointer;
        }
    }

    #authors-loading-feedback {
        right: 40px;
        z-index: 4;
    }
}

#dashboard {
    .stat {
        .value, .caption {
            margin: 0;
            text-align: center;
        }

        .value {
            font-size: 4em;
            margin-bottom: 10px;
        }

        .caption {
            font-size: 1.25em;
        }
    }
}

#word-cloud {
    form {
        margin-bottom: 20px;

        input[type="number"] {
            @media (min-width: 768px) {
                width: 75px;
            }
            text-align: right;
        }
    }

    [td-word-cloud] {
        overflow-x: auto;
    }
}
