<div class="alert alert-warning" role="alert">
    <strong>En chantier</strong> Les données sont fictives
    <a href="/" class="btn btn-xs btn-default pull-right">Retour à l'accueil</a>
</div>

<div id="dashboard" class="row">
    <div class="col-md-4">
        <div class="well stat">
            <h1 class="value">382</h1>
            <p class="caption">Livres</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well stat">
            <h1 class="value">159</h1>
            <p class="caption">Auteurs</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well stat">
            <h1 class="value">12</h1>
            <p class="caption">Genres</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well stat" uib-tooltip="Nombre total de mots dans le vocabulaire de la collection" tooltip-placement="bottom">
            <h1 class="value">8170</h1>
            <p class="caption">
                Mots
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well stat" uib-tooltip="Plus exactement le 20/03/1739" tooltip-placement="bottom">
            <h1 class="value">1739</h1>
            <p class="caption">
                <span class="glyphicon glyphicon-calendar"></span> Premier livre
            </p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well stat" uib-tooltip="Plus exactement le 08/11/2015" tooltip-placement="bottom">
            <h1 class="value">2015</h1>
            <p class="caption">
                <span class="glyphicon glyphicon-calendar"></span> Dernier livre
            </p>
        </div>
    </div>
</div>
