<div class="row">
    <div id="general-filters" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtres globaux</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="global-filter-start-date">Date de début</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="global-filter-start-date" ng-model="vm.globalFilters.startDate"
                               min-date="vm.globalFilters.minDate" max-date="vm.globalFilters.endDate"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="startDatePickerOpen">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-default" ng-click="startDatePickerOpen = !startDatePickerOpen"
                               uib-tooltip="Afficher&nbsp;le calendrier" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </span>
                        <span class="input-group-btn" ng-if="vm.globalFilters.hasChanged('startDate')">
                            <a href="#" class="btn btn-default" ng-click="vm.globalFilters.reset('startDate')"
                               uib-tooltip="Réinitialiser" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="global-filter-end-date">Date de fin</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="global-filter-end-date" ng-model="vm.globalFilters.endDate"
                               min-date="vm.globalFilters.startDate" max-date="vm.globalFilters.maxDate"
                               uib-datepicker-popup="dd/MM/yyyy" is-open="endDatePickerOpen">
                        <span class="input-group-btn">
                            <a href="#" class="btn btn-default" ng-click="endDatePickerOpen = !endDatePickerOpen"
                                uib-tooltip="Afficher&nbsp;le calendrier" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </a>
                        </span>
                        <span class="input-group-btn" ng-if="vm.globalFilters.hasChanged('endDate')">
                            <a href="#" class="btn btn-default" ng-click="vm.globalFilters.reset('endDate')"
                               uib-tooltip="Réinitialiser" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="global-filter-genre">Genre littéraire</label>
                    <div ng-class="{'input-group': vm.globalFilters.hasChanged('genre')}">
                        <select id="global-filter-genre" class="form-control" ng-model="vm.globalFilters.genre"
                                ng-options="option.name for option in vm.globalFilters.getGenres()">
                            <option value="">Tous les genres</option>
                        </select>
                        <span class="input-group-btn" ng-show="vm.globalFilters.hasChanged('genre')">
                            <a href="#" class="btn btn-default" ng-click="vm.globalFilters.reset('genre')"
                               uib-tooltip="Réinitialiser" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group has-feedback last" ng-class="{'has-error': !(vm.globalFilters.author || vm.globalFilters.author === null)}">
                    <label for="global-filter-author">Auteur</label>
                    <div ng-class="{'input-group': vm.globalFilters.hasChanged('author')}">
                        <input type="text" class="form-control" id="global-filter-author" ng-model="vm.globalFilters.author"
                               uib-typeahead="author as author.name for author in vm.globalFilters.getAuthors($viewValue)"
                               typeahead-loading="loadingAuthors" typeahead-editable="false" typeahead-select-on-exact="true">
                        <span class="input-group-btn" ng-show="vm.globalFilters.hasChanged('author')">
                            <a href="#" class="btn btn-default" ng-click="vm.globalFilters.reset('author')"
                               uib-tooltip="Réinitialiser" tooltip-placement="bottom" tooltip-append-to-body="true">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                    <span id="authors-loading-feedback" class="glyphicon glyphicon-repeat glyphicon-spin form-control-feedback" ng-show="loadingAuthors"></span>
                </div>
            </div>
            <div class="panel-footer text-center" ng-show="vm.globalFilters.isDirty()">
                <a href="#" class="btn btn-default" ng-click="vm.globalFilters.revertChanges()">Annuler</a>
                <a href="#" class="btn btn-success" ng-click="vm.globalFilters.applyChanges()">Valider</a>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active: vm.constructor.name == 'DashboardController'}">
                <a href="/requester/dashboard">Tableau de bord</a>
            </li>
            <li role="presentation" ng-class="{active: vm.constructor.name == 'StatisticsController'}">
                <a href="/requester/statistics">Statistiques</a>
            </li>
            <li role="presentation" ng-class="{active: vm.constructor.name == 'WordCloudController'}">
                <a href="/requester/word-cloud">Nuage de mots</a>
            </li>
            <li role="presentation" ng-class="{active: vm.constructor.name == 'SemanticFieldsController'}">
                <a href="/requester/semantic-fields">Champs sémantiques</a>
            </li>
        </ul>

        <div ng-include="vm.templateUrl"></div>
    </div>
</div>
