<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Filtres globaux</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="global-filter-start-date">Date de début</label>
                    <div ng-class="{'input-group': c.globalFilters.hasChanged('startDate')}">
                        <input type="text" class="form-control" id="global-filter-start-date" ng-model="c.globalFilters.startDate">
                        <span class="input-group-btn" ng-show="c.globalFilters.hasChanged('startDate')">
                            <a href="#" class="btn btn-default" ng-click="c.globalFilters.reset('startDate')">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="global-filter-end-date">Date de fin</label>
                    <div ng-class="{'input-group': c.globalFilters.hasChanged('endDate')}">
                        <input type="text" class="form-control" id="global-filter-end-date" ng-model="c.globalFilters.endDate">
                        <span class="input-group-btn" ng-show="c.globalFilters.hasChanged('endDate')">
                            <a href="#" class="btn btn-default" ng-click="c.globalFilters.reset('endDate')">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="global-filter-genre">Genre littéraire</label>
                    <div ng-class="{'input-group': c.globalFilters.hasChanged('genre')}">
                        <input type="text" class="form-control" id="global-filter-genre" ng-model="c.globalFilters.genre">
                        <span class="input-group-btn" ng-show="c.globalFilters.hasChanged('genre')">
                            <a href="#" class="btn btn-default" ng-click="c.globalFilters.reset('genre')">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
                <div class="form-group last">
                    <label for="global-filter-author">Auteur</label>
                    <div ng-class="{'input-group': c.globalFilters.hasChanged('author')}">
                        <input type="text" class="form-control" id="global-filter-author" ng-model="c.globalFilters.author">
                        <span class="input-group-btn" ng-show="c.globalFilters.hasChanged('author')">
                            <a href="#" class="btn btn-default" ng-click="c.globalFilters.reset('author')">
                                <span class="glyphicon glyphicon-repeat"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{active: c.constructor.name == 'DashboardController'}">
                <a href="/requester/dashboard">Tableau de bord</a>
            </li>
            <li role="presentation" ng-class="{active: c.constructor.name == 'StatisticsController'}">
                <a href="/requester/statistics">Statistiques</a>
            </li>
            <li role="presentation" ng-class="{active: c.constructor.name == 'WordCloudController'}">
                <a href="/requester/word-cloud">Nuage de mots</a>
            </li>
            <li role="presentation" ng-class="{active: c.constructor.name == 'SemanticFieldsController'}">
                <a href="/requester/semantic-fields">Champs sémantiques</a>
            </li>
        </ul>

        <div ng-include="c.templateUrl"></div>
    </div>
</div>
