<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <span class="badge pull-right">{{ vm.data.words.count }}</span>
                    Mots
                </h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ vm.data.words.avg_size }}</span>
                    Taille moyenne des mots
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ vm.data.words.avg_in_sentence }}</span>
                    Nombre moyen de mots dans les phrases
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ vm.data.words.avg_in_books }}</span>
                    Nombre moyen de mots dans les livres
                </li>
                <li class="list-group-item">
                    <span class="badge">{{ vm.data.words.avg_book_vocab }}</span>
                    Taille moyenne du vocabulaire dans les livres
                </li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <span class="badge pull-right">{{ vm.data.sentences.count }}</span>
                    Phrases
                </h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">{{ vm.data.sentences.avg_in_books }}</span>
                    Nombre moyen de phrases dans les livres
                </li>
            </ul>
        </div>
    </div>
</div>
