<div class="alert alert-warning" role="alert">
    <strong>En chantier</strong> Les données sont fictives
    <a href="/" class="btn btn-xs btn-default pull-right">Retour à l'accueil</a>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <span class="badge pull-right">8170</span>
                    Mots
                </h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">6</span>
                    Taille moyenne des mots
                </li>
                <li class="list-group-item">
                    <span class="badge">10</span>
                    Nombre moyen de mots dans les phrases
                </li>
                <li class="list-group-item">
                    <span class="badge">382</span>
                    Nombre moyen de mots dans les livres
                </li>
            </ul>
            <div class="panel-footer">
                <em>À compléter...</em>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    <span class="badge pull-right">835</span>
                    Phrases
                </h1>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">43</span>
                    Nombre moyen de phrases dans les livres
                </li>
            </ul>
            <div class="panel-footer">
                <em>À compléter...</em>
            </div>
        </div>
    </div>
</div>
