<div id="word-cloud">
    <form ng-submit="vm.reloadWordCloud($event)" class="form-inline text-center">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Largeur</div>
                <input type="number" ng-model="vm.width" class="form-control">
                <div class="input-group-addon">px</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Hauteur</div>
                <input type="number" ng-model="vm.height" class="form-control">
                <div class="input-group-addon">px</div>
            </div>
        </div>
        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span> <span class="visible-sm-inline">Valider</span></button>
    </form>

    <div td-word-cloud="vm.words" width="vm.width" height="vm.height" class="text-center"></div>
</div>
